#container {
    position: relative;
    height: 375px;
    width: 1000px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#left, #right {
    cursor: pointer;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 12.5%;
    opacity: 0;
}

    #left:hover, #right:hover {
        opacity: .1;
    }

.accent {
    opacity: .2;
    background-color: rgba(255, 255, 255, 1);
}

    .accent:hover {
        opacity: .8;
    }

#bullets {
    display: flex;
    justify-content: flex-end;
    background: url(/slider/slider-bar.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    position: absolute;
    top: 375px;
}

    #bullets li {
        display: inline-block;
    }
    #bullets li:last-child {
        margin-right: 3em;
    }

.bullet {
    margin: 60% .2rem;
    display: inline-block;
    width: .9rem;
    height: .9rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.controls {
    z-index: 2;
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.slider-img {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.show {
    opacity: 100 !important;
}
